#account {
  margin: 0;
  text-transform: uppercase;
  overflow: hidden;
  display: flex;
  height: 100%;
  flex-flow: column;

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
    display: inline-block;
  }

  div#accountToggleGroup {
    display: flex;
    width: 100%;
    height: 70px;
    flex: 0 1 70;
    margin: 0;
    background-color: #CAC9CE;

    label {
      display: flex;
      margin: 0;
      flex: 0 1 200px;
      align-items: center;
      color: #6E6B76;

      &[for='signup'] {
        h2{
        }
      }
      &[for='login'] {
        margin-left: 25px;
      }

      &.checked {
        text-decoration: underline;
        text-decoration-color: #6E6B76;
      }
    }


    input {
      display: none;

      + h2 {
        position: relative;
        display: block;
        text-align: center;
        padding: 5px;
        margin: auto;
      }

      &:checked + h2 {
        text-shadow:  1px  rgba(255,255,255,.5);
      }
    }
  }

  #signupOption {
    width: 100%;
    height: 250px;
    background-color: #F0EFF4;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;

    label {
      margin-left: 60px;
      padding: 10px 0;

      &[for=address] {
        width: 50%;
      }

      &[for=password] {
        width: 40%;
      }
    }
  }

  #loginOption {
    width: 100%;
    height: 250px;
    background-color: #F0EFF4;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;

    label {
      margin-left: 60px;
      padding: 10px 0;

      &[for=address] {
        width: 50%;
      }

      &[for=password] {
        width: 40%;
      }
    }
  }

  #submit {
    display: block;
    border-style: none;
    width: 100%;
    height: 70px;
    background-color: #8ECB37;
    color: #fff;
    flex: 0 1 70px;
    text-transform: uppercase;
    h1 {
      margin: 0;
    }
  }
}