
#wallet {
  margin: 0;
  text-transform: uppercase;
  overflow: hidden;
  display: flex;
  height: 100%;
  flex-flow: column;

  #walletTitle {
    display: flex;
    height: 70px;
    flex: 0 1 70px;
    text-align: center;
    background-color: #CAC9CE;

    >h1{
      margin: auto;
    }

  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
    display: inline-block;
  }

  div#bankToggleGroup {
    display: flex;
    width: 100%;
    height: 70px;
    flex: 0 1 70;
    margin: 0;
    background-color: #fff;

    >* {
      margin: auto;
      flex: 1;
    }

    #pointsCost {
      margin-left: 60px;
    }

    label {
      display: flex;
      margin: 0;
      align-items: center;
      color: #6E6B76;

      &[for='fiat'] {
        margin-left: 150px;
      }
      &[for='ether'] {
        margin-left: 25px;
      }

      &.checked {
        text-decoration: underline;
        text-decoration-color: #6E6B76;
      }
    }


    input {
      display: none;

      + h2 {
        position: relative;
        display: block;
        text-align: center;
        padding: 5px;
        margin: auto;
      }

      &:checked + h2 {
        text-shadow:  1px  rgba(255,255,255,.5);
      }
    }
  }

  #choosePoints{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #F0EFF4;

    >* {
      margin: auto;
      flex: 1;
    }
    #newPoints {
      margin-left: 60px;
      input {
        width: 200px;
      }
      h3 {
        display: block;
      }
    }
    #pointsCost {
      margin-left: 40px;
      p {
        font-size: 22px;
        color: #8ECB37;
      }
    }
  }

  #chooseHotels{
    flex: 0 1 auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #F0EFF4;
    margin-left: 60px;

    h3 {
      display: block;
    }

    label {
      margin: 0;
      width: 100px;
      height: 30px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      opacity: .3;

      &[for='CHH'] {
        background-image: url("/hotels/Choice Hotels Logo.png");
      }
      &[for='HLT'] {
        background-image: url("/hotels/Hilton Logo.png");
      }
      &[for='HYT'] {
        background-image: url("/hotels/Hyatt Logo.png");
      }
      &[for='IHG'] {
        background-image: url("/hotels/IHG Logo.png");
      }

      &.checked {
        opacity: 1;
      }
    }


    input {
      display: none;
    }
  }


  #fiatOption {
    width: 100%;
    height: 250px;
    background-color: #F0EFF4;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;

    #bankInfo {
      margin-left: 60px;
      padding: 50px 0;
      label {
        margin: 10px 1%;

        &[for=cardholder] {
          width: 25%;
        }

        &[for=cardnumber] {
          width: 20%;
        }

        &[for=exp] {
          width: 20%;
        }

        &[for=cvv] {
          width: 20%;
        }
      }
    }
  }

  #etherOption {
    width: 100%;
    height: 250px;
    background-color: #F0EFF4;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;

    #chooseAddress {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 60px;
      padding: 50px 0;
      width: 300px;
    }
  }

  #submit {
    display: block;
    border-style: none;
    width: 100%;
    height: 70px;
    background-color: #8ECB37;
    color: #fff;
    flex: 0 1 70px;
    h1 {
      margin: 0;
    }
  }
}