#main {
  display: block;
  padding: 50px 75px 15px 75px;
  margin-top: 400px;
  background-color: #e66;
  color: #fff;

  >* {
    margin: 1%;

    &[for=location] {
      display: block;
      width: 98%;
      margin: 1%;
    }

    &[for=checkin], &[for=checkout] {
      width: 22.5%;
    }

    &[for=rooms] {
      width: 12.5%;
    }

    &[for=guests] {
      width: 12.5%;
    }
  }
  #submit {
    background-color: #0d5;
    border: 0;
    padding: 10px;
    width: 20%;
  }
}